# ----------------------------
# Logs
# ----------------------------
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ----------------------------
# Node / Frontend
# ----------------------------
node_modules/
dist/
dist-ssr/
*.local

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# ----------------------------
# Virtual Environments
# ----------------------------
.venv/
venv/
env/
backend/venv/

# ----------------------------
# Environment Files
# ----------------------------
.env
.env.*

# ----------------------------
# Backend Uploads
# ----------------------------
backend/uploads/*
!backend/uploads/.gitkeep

# ----------------------------
# Image AI
# ----------------------------

# Ignore datasets only
backend/image_ai/datasets/

# Ignore generated outputs only
backend/image_ai/outputs/

# ----------------------------
# Editor files
# ----------------------------
.vscode/*
!.vscode/extensions.json

.idea/
.DS_Store
Thumbs.db

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
